@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.home {
  background: url(../assets/backgroundHome.png) no-repeat center;
  background-size: cover;
}

.headerHome,
.headerGame {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.headerHome__icon,
.headerGame__icon {
  height: 30px;
}

.home__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 200px);
}

.home__title {
  font-family: "Righteous", "Sans-serif";
  font-size: 35px;
  margin-bottom: 30px;
}

.home__playIcon {
  height: 100px;
}

.transition {
  background: url(../assets/backgroundHome.png) no-repeat center;
  background-size: cover;
  text-align: center;
}

.transition__picture {
  width: 85%;
  margin-top: 30px;
}

.transition__text {
  width: 80%;
  margin: 20px auto 0 auto;
  font-family: "Righteous", "Sans-serif";
  font-size: 18px;
  line-height: 22px;
}

.transition__next {
  height: 30px;
  margin-top: 20px;
}

.game {
  background: url(../assets/bgGame1.png) no-repeat center;
  background-size: cover;
}
.game__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 80px);
}
.game__boss {
  margin-top: 10px;
}
.game__cards {
  display: flex;
  justify-content: space-around;
}
.game__hearts {
  display: flex;
  justify-content: center;
}

.game__heart {
  height: 30px;
}
.game__infos {
  width: 100%;
}
